@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <h1>Criipto Verify log in tester</h1>

    <p>Choose your login. Test users you get <a href="http://docs.criipto.com/how-to/test-users.md">from here</a>.</p>
    <select name="loginmethod" form="loginform">
      <option value="urn:grn:authn:no:bankid">Norwegian BankID</option>
      <option value="urn:grn:authn:no:bankid:central">Norwegian BankID (CServer BID)</option>
      <option value="urn:grn:authn:no:bankid:mobile">Norwegian BankID (CServer BIM)</option>
      <option value="urn:grn:authn:no:vipps">Norwegian Vipps</option>
      <option value="urn:grn:authn:se:bankid:same-device">Swedish BankID same device</option>
      <option value="urn:grn:authn:se:bankid:another-device">Swedish BankID another device</option>
      <option value="urn:grn:authn:dk:nemid:poces">Danish NemID personal with code card</option>
      <option value="urn:grn:authn:dk:nemid:moces">Danish NemID employee with code card</option>
      <option value="urn:grn:authn:dk:nemid:moces:codefile">Danish NemID employee with code file</option>
      <option value="urn:grn:authn:fi:tupas">Finnish BankID</option>
      <option value="urn:grn:authn:fi:mobile-id">Finnish Mobile Certificate</option>
      <option value="urn:grn:authn:fi:all">Choose from all Finnish options</option>
      <option value="urn:grn:authn:itsme:basic">Itsme Basic</option>
      <option value="urn:grn:authn:itsme:advanced">Itsme Advanced</option>
      <option value="urn:grn:authn:be:eid:verified">Belgian e-ID (smartcard and card reader required)</option>
    </select>
    <br>
    <br>

    <form action="/Home/Protected" id="loginform">
      <input type="submit" value="Login">
    </form>
    <br>

</div>
